# Part 3 - Feature Engineering (and Selection)

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from geopy import Nominatim
import geojson
import folium
from branca.colormap import LinearColormap, StepColormap

%matplotlib inline

## Load and preview the data

In [2]:
df = pd.read_csv('./data/sf/data_clean_imputed.csv') # load contents of .csv into a pandas.DataFrame object
df.head(5) # display first 5 entries of DataFrame

,title,address,city,state,postal_code,price,facts and features,url,bed,bath,sqft,property_type
0,Condo For Sale,220 Lombard St APT 116,San Francisco,CA,94111,849000.0,"1 bd , 1 ba , 830 sqft",https://www.zillow.com/homedetails/220-Lombard...,1.0,1.0,830.0,condo
1,Condo For Sale,101 Lombard St APT 603W,San Francisco,CA,94111,1650000.0,"2 bds , 2 ba , 1,500 sqft",https://www.zillow.com/homedetails/101-Lombard...,2.0,2.0,1500.0,condo
2,Condo For Sale,733 Front St UNIT 312,San Francisco,CA,94111,1195000.0,"1 bd , 1 ba , 1,189 sqft",https://www.zillow.com/homedetails/733-Front-S...,1.0,1.0,1189.0,condo
3,Condo For Sale,550 Davis St UNIT 44,San Francisco,CA,94111,1995000.0,"3 bds , 2 ba , 1,520 sqft",https://www.zillow.com/homedetails/550-Davis-S...,3.0,2.0,1520.0,condo
4,Condo For Sale,240 Lombard St APT 437,San Francisco,CA,94111,625000.0,"1 bd , 1 ba , 566 sqft",https://www.zillow.com/homedetails/240-Lombard...,1.0,1.0,566.0,condo

In [3]:
df.columns

Index(['title', 'address', 'city', 'state', 'postal_code', 'price',
       'facts and features', 'url', 'bed', 'bath', 'sqft', 'property_type'],
      dtype='object')

## Select the Features we wish to use
Feature Selection is normally an iterative process where we set up various experiments to test hypotheses generated during our EDA (e.g. `sqft` appears to have highest correlation and should have greatest impact on our model). We also try different combinations of features and test model accuracy.  
For the purpose of this example, we will simply select features which showed good correlation in our EDA.

In [4]:
# keep 'price' for obvious reasons
selected_features = ['bath', 'bed', 'property_type', 'sqft', 'postal_code', 'price']

Quick Note: Postal code is formatted as an integer so Pandas will not recognize it as a categorical variable. Let's format it as string

In [5]:
df.postal_code = df.postal_code.astype(str)

In [7]:
df = df[selected_features]
df

         bath  bed property_type    sqft postal_code      price
0    1.000000  1.0         condo   830.0       94111   849000.0
1    2.000000  2.0         condo  1500.0       94111  1650000.0
2    1.000000  1.0         condo  1189.0       94111  1195000.0
3    2.000000  3.0         condo  1520.0       94111  1995000.0
4    1.000000  1.0         condo   566.0       94111   625000.0
5    1.000000  1.0         condo   914.0       94111  1196000.0
6    1.000000  2.0         house  1250.0       94112   999000.0
7    1.500000  3.0         house  1325.0       94112   899000.0
8    1.000000  2.0         house   750.0       94112   699000.0
9    6.000000  6.0         house  3168.0       94112  1599999.0
10   1.000000  2.0         house   746.0       94112   689000.0
11   2.000000  2.0         house  1166.0       94112  1199000.0
12   1.000000  2.0         house  1160.0       94112   898000.0
13   1.000000  2.0         house  1336.0       94112   788888.0
14   1.000000  1.0         house   735.0       94112   749000.0
15   4.000000  4.0         house  2308.0       94112  1795000.0
16   3.000000  5.0         house  1839.0       94112   789000.0
17   1.000000  2.0         house  1510.0       94112   799000.0
18   1.000000  2.0         house  1026.0       94112   949000.0
19   1.000000  2.0         house  1215.0       94112  1299000.0
20   2.000000  4.0         house  1782.0       94112   979800.0
21   2.000000  3.0         house  1128.0       94112  1100000.0
22   5.000000  7.0         house  3200.0       94112  1499000.0
23   2.000000  2.0         condo   997.0       94112  1395000.0
24   1.000000  1.0         condo   918.0       94131   799000.0
25   2.000000  3.0         house  1560.0       94131  1495000.0
26   2.000000  2.0         condo  1181.0       94131  1149000.0
27   2.000000  3.0         house  1823.0       94131  1295000.0
28   3.000000  3.0         house  1747.0       94131  1525000.0
29   3.000000  3.0         house  2500.0       94131  1995000.0
..        ...  ...           ...     ...         ...        ...
608  2.000000  3.0         house  1780.0       94114  1995000.0
609  2.000000  2.0         condo  1763.0       94114  1695000.0
610  2.000000  2.0         condo  1470.0       94114  1095000.0
611  1.990349  0.0     apartment  5390.0       94114  4788000.0
612  2.000000  3.0         condo  1668.0       94115  1949000.0
613  1.500000  3.0         condo  1450.0       94115  1095000.0
614  1.000000  0.0         condo   613.0       94115   659000.0
615  1.000000  2.0         condo   840.0       94115   575000.0
616  2.000000  2.0         condo  1533.0       94115  1495000.0
617  1.000000  1.0         condo  1032.0       94115  1295000.0
618  1.000000  2.0          coop   850.0       94115   580000.0
619  1.990349  0.0     apartment  6585.0       94115  6400000.0
620  1.990349  0.0     apartment  2030.0       94124   795000.0
621  2.000000  2.0         house  1317.0       94124   719000.0
622  2.000000  3.0         condo  1310.0       94124   522980.0
623  3.000000  3.0           new  1780.0       94105  3395000.0
624  2.500000  2.0         condo  1583.0       94105  1700000.0
625  2.000000  2.0         condo  1602.0       94105  2600000.0
626  3.000000  3.0         house  2328.0       94107  2249000.0
627  1.500000  1.0        coming  1256.0       94107  1110000.0
628  3.000000  4.0         house  1625.0       94107  1995000.0
629  1.000000  3.0         condo   850.0       94107   879000.0
630  1.000000  1.0         condo  1284.0       94107   839000.0
631  1.500000  1.0     apartment  1001.0       94107   799000.0
632  2.000000  2.0         condo  1243.0       94107  1345000.0
633  1.000000  1.0         condo   670.0       94107   825000.0
634  2.000000  3.0         condo  1600.0       94108  1325000.0
635  3.000000  3.0         house  1560.0       94122  1188000.0
636  1.000000  3.0       auction  1690.0       94122  1120000.0
637  3.000000  3.0         house  1780.0       94122  1150000.0

[638 rows x 6 columns]

## Create Dummy Variables from categorical features
In order to exploit the pertinent categorical features for use in our model, we must first convert them to [Dummy Variables]. This essentially creates new columns for each category and encodes a binary 1 or 0 for whether the category is present in that sample.  
To do this, we use Pandas built-in function `pandas.get_dummies()`
[Dummy Variables]: https://en.wikipedia.org/wiki/Dummy_variable_(statistics)

To get a better understanding of dummy variables, let's get the dummy variables for `property_type`

In [11]:
print("before conversion:")
df[['property_type']].head(30)

before conversion:

   property_type
0          condo
1          condo
2          condo
3          condo
4          condo
5          condo
6          house
7          house
8          house
9          house
10         house
11         house
12         house
13         house
14         house
15         house
16         house
17         house
18         house
19         house
20         house
21         house
22         house
23         condo
24         condo
25         house
26         condo
27         house
28         house
29         house

In [9]:
print("after conversion:")
pd.get_dummies(data=df['property_type']).head(10)

after conversion:

   apartment  auction  coming  condo  coop  house  lot  new
0          0        0       0      1     0      0    0    0
1          0        0       0      1     0      0    0    0
2          0        0       0      1     0      0    0    0
3          0        0       0      1     0      0    0    0
4          0        0       0      1     0      0    0    0
5          0        0       0      1     0      0    0    0
6          0        0       0      0     0      1    0    0
7          0        0       0      0     0      1    0    0
8          0        0       0      0     0      1    0    0
9          0        0       0      0     0      1    0    0

We see that the `property_type` column has been replaced by the categories contained within `property_type` with a binary 1 or 0 representing whether that category exists in the sample.

Let's convert the entire dataframe to dummy variables (Pandas knows to omit numerical variables).

In [15]:
pd.get_dummies(data=df['postal_code']).head(10)

,94102,94103,94104,94105,94107,94108,94109,94110,94111,94112,...,94121,94122,94123,94124,94127,94131,94132,94133,94134,94158
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df_engineered = pd.get_dummies(data=df)

In [17]:
df_engineered.head(5)

,bath,bed,sqft,price,property_type_apartment,property_type_auction,property_type_coming,property_type_condo,property_type_coop,property_type_house,...,postal_code_94121,postal_code_94122,postal_code_94123,postal_code_94124,postal_code_94127,postal_code_94131,postal_code_94132,postal_code_94133,postal_code_94134,postal_code_94158
0,1.0,1.0,830.0,849000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,2.0,1500.0,1650000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,1.0,1189.0,1195000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,3.0,1520.0,1995000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,1.0,566.0,625000.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Our dataset has now been expanded to include dummy variables!

## Feature Engineering  
We can further extend our dataset by engineering new features that can have a positive effect on our model.  
For example, we have yet to utilize the Lat/Long positions of the houses for any purpose other than visualization. 
Since location is a major factor in house prices, perhaps we could create a few new features: `average_1km`, `average_2km`, `average_3km` representing the average prices in a 1km, 2km, and 3km radius.

I will leave this as an exercise to the reader to engineer a few features and test if model performance increases.

 ## Save the dataframe to .csv file

In [18]:
df_engineered.to_csv('./data/sf/data_clean_engineered.csv', index=False)